/* Ejercicio 1 */
.ejercicio1Img img{
    height: 100%;
}


/* Ejercicio 2 */
.ejercicio2Img img{
    width: 100%;
}


/* Ejercicio 3 */
.ejercicio3aImg img{
    height: 100%;
    width: 100%;
}
.ejercicio3bImg img{
    height: 100%;
    width: 100%;
}