html, body {
    background-color: rgb(198, 201, 199);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainContainerEjercicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}
.balanceoH1Title {
    color: white;
    background-color: rgb(32, 21, 75);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
a:visited {
    color: blue;
}
a {
    text-decoration: none;
}
.regresarPaginaAnterior {
    background-color: gold;
    width: 100%;
    height: 100%;
    padding-left: 10%;
}

/* Ejercicio 1 */
.ejercicio1Img img{
    height: 100%;
    width: 100%;
}
.ejercicio1Img, .ejercicio2Img {
    background-color: white;
}


/* Ejercicio 2 */
.ejercicio2Img img{
    width: 100%;
}


/* Ejercicio 3 */
.ejercicio3aImg img{
    height: 100%;
    width: 100%;
}
.ejercicio3bImg img{
    /*height: 100%;*/
    width: 100%;
    object-fit: cover;
}
.ejercicio3bImg {
    height: 100%;
    width: 100%;
    max-width: 1000px;
}

/*Ejercicio Balanceo Arboles, menu de contenidos*/
.mainContainerBalanceo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.mainContainerBalanceo h1 {
    background-color: rgb(165, 214, 132);
    padding: 3%;
    border-radius: 15px;
    border: 1px solid black;
}
.menuContenidosBalanceo {
    background-color: white;
    padding: 10%;
    border: 1px solid black;
    border-radius: 15px;
}
.menuContenidosBalanceo h2 {
    text-align: center;
    
}